.small-container-payment {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  h2 {
    margin-top: 30px;
    font-weight: bold;
  }
  .col-7 {
    width: 100%;
    margin-right: 15px;

  }
  .col-3 {
    width: 100%;
  }
}

.row-order {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 50px;
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
    small{
      display: inline-flex;
      margin-left: 10px;
      color: blue;
      cursor: pointer;
      
    }
    i {
      position: absolute;
      margin-right: 70px;
      margin-top: 30px;
      color: blue;
    }
  }
}


.a-box {
  display: block;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
  border-style: dashed;
  height: 266px;
  width: 320px;
  border-width: 2px;
  box-sizing: border-box;
  border-color: #c7c7c7;
  text-align: center;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
}

.a-box-inner {
  border-radius: 4px;
  position: relative;
  padding: 14px 18px;
  padding: 20px 26px !important;
}
//   h2 {
//     color: #767676 !important;
//   }
// }

.a-box-normal {
  height: 200px;
  width: 100%;
  border-width: 1px;
  box-sizing: border-box;
  border-color: #c7c7c7;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16);
  border-style: solid;
}
.a-box-normal-2{
  height: 300px;
  width: 100%;
  border-width: 1px;
  box-sizing: border-box;
  border-color: #c7c7c7;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16);
  border-style: solid;
}
.a-box-normal-right{
  height: 400px;
  width: 100%;
  border-width: 1px;
  box-sizing: border-box;
  border-color: #c7c7c7;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16);
  border-style: solid;
}
.displayUl {
  list-style-type: none;
  margin-left: 0;
  color: inherit;
  vertical-align: baseline !important;
}


.cart-placeorder{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  .col-2-cart{
    margin-left: 10px;
    
    
    img{
      width: 150px;
    }
    
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}
 th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}
 td {
  padding: 10px 5px;
 }