
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
    h1 {
        margin-top: 30px;
    }
  }
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 50px;
     .col-2 {
      flex-basis: 50%;
      min-width: 300px;
     }
}

.a-box{
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
    border-style: dashed;
    height: 266px;
    width: 320px;
    border-width: 2px;
    box-sizing: border-box;
    border-color: #C7C7C7;
    text-align: center;
    display: table-cell;
    cursor: pointer;
    vertical-align: middle;
    
}

.a-box-inner{
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
    padding: 20px 26px!important;

    h2 {
        color: #767676!important;
    }
}

.a-box-normal{
    height: 266px;
    width: 320px;
    border-width: 1px;
    box-sizing: border-box;
    border-color: #C7C7C7;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.16);
    border-style: solid;
}
.address-section{
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 10px!important;
}

.nonstyle{
    padding: 0px;
    margin: 0px;
    color: #111;
    margin-left: 0;
}
.edit-address{
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 22px;
    color: blue;
    bottom: -60px;
    cursor: pointer;
}
